@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body{
    background: black;
    color:white;


}

ul{
    list-style: none;
    width: 50%;
}

li{
    border-bottom: solid 0.5px rgb(133, 130, 130);
    cursor: pointer;
}

li:hover{
background: grey;
cursor: pointer;
}


